SHELL=/bin/bash

# Intended to be run in the US/Pacific time zone
zap=/dev/tcp/zap/11235

# On weekdays, show the current meteogram on the hour and at half past starting
# at 6 and ending at 7:30.  On weekends, last update is at 8:30.
00,30 06-07 * * 1-5 tom ~/photoframe/meteogram >$zap
00,30 06-08 * * 6-7 tom ~/photoframe/meteogram >$zap

# Show photos early in the morning and then after the weather.
*/6  05-06,08-23  *  *  1-5  tom ~/photoframe/flickr-random-photo >$zap
*/6  05-06,09-23  *  *  6-7  tom ~/photoframe/flickr-random-photo >$zap
